.popup {
    position: fixed;
    visibility: hidden;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0 , .5);
    opacity: 0;
}

.popup__opened {
    transition: opacity .5s;
}