.popup__save-button {
    all: unset;
    cursor: pointer;
    width: 358px;
    height: 50px;
    margin: 48px 36px 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    background-color: #000;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: opacity .3s;
}

@media screen and (max-width:767px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
        margin: 45px 22px 0;
    }
}