.popup__container {
    display: flex;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width:767px) {
    .popup__container {
        flex-direction: column-reverse;
    }
}