.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 40px;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        max-height: none;
        padding-top: 42px;
    }
}