.profile__add-button {
    height: 50px;
    width: 150px;
    margin-left: auto;
    padding: 0;
    border: 2px solid #fff;
    background: center no-repeat url(../../../images/profile__add-button.svg);
    cursor: pointer;
  }

.profile__add-button:hover {
    opacity: .6;
    transition: opacity .3s;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
      margin-top: 36px;
      width: 100%;
    }
}