.popup__opened {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    transition: opacity .5s;
    opacity: 1;
}

@media screen and (max-width:767px) {
    .popup__opened {
        flex-direction: column-reverse;
    }
}