.popup__close-button {
    position: absolute;
    top: 155px;
    right: 385px;
    height: 32px;
    width: 32px;
    margin:0 0 8px 8px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background: center no-repeat url(../../../images/popup__close-button.svg);
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity .3s;
}

@media screen and (max-width:767px) {
    .popup__close-button {
        top: 87px;
        right: 19px;
        width: 20px;
        height: 20px;
        margin-bottom: 16px;
    }
}