.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    height: 32px;
    width: 32px;
    padding: 0;
    border: none;
    background: center / contain no-repeat url(../../../images/popup__close-button.svg);
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity .3s;
}

@media screen and (max-width:767px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}