.popup__span-error {
    position: fixed;
    visibility: hidden;
    margin: 0;
    padding: 0;
    margin-left: 36px;
    color: red;
    font-size: .8rem;
    max-width: 358px;
}

@media screen and (max-width:767px) {
    .popup__span-error {
        width: 238px;
        margin-left: 22px;
    }
}





